@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*All*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}
/*Navbar*/
nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 22pt;
    padding: 0vw 0vw 0vw 0vw;
    width: 100vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(168, 74, 74);
}
a{
    color: rgb(255, 255, 221);
}

/*Stuff*/
